#cartoon-octopus {
	position: relative;
	left: 45%;
	top: 90px;
	z-index: -1;
}

#heart-glasses {
	position: relative;
	left: 32%;
	bottom: 40px;
}

#cowboy-hat {
	position: relative;
	bottom: 110px;
	left: 17%;
}